@font-face {
    font-family: 'Centra No1';
    src: url(centrano1-and-no2-font/CentraNo1-Book.ttf);
}

body {
    height: 2786px;
    width: 100%;
    margin: auto;
}

.container {
    position: relative;
    width: 100%;
    height: 2786px;

    background: #EDF8EF;
    height: 2786px;
}

main {
    width: 100%;
    height: 2467px;
}

.header {
    width: 1440px;
    height: 80px;
    display: flex;
    position: relative;
    margin: auto;
}

.ymner {
    margin-left: 170px;
    margin-top: 18px;
}

.menu {
    display: flex;
    margin-left: 586.83px;
}

.insights {
    margin-top: 26px;
    display: flex;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.material-icons-sharp {
    margin-top: 20px;
    color: #000;
}

.admin {
    margin-top: 26px;
    display: flex;
    margin-left: 40px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.profile {
    margin-top: 35px;
    box-sizing: border-box;
    background: #A78730;
    opacity: 0.9;
    border-radius: 28px;
    display: flex;
    width: 134px;
    height: 38px;
    margin-left: 32px;
    color: #FFFFFF;
}

.user {
    margin-top: 13px;
    margin-left: 24.73px;
    width: 12px;
    height: 12px;

}

#profile {
    width: 47px;
    height: 28px;
    margin-left: 8.73px;
    margin-top: 10px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.profile .material-icons-sharp {
    color: #FFFFFF;
    margin-top: 9px;
}

hr {
    margin-top: 28.89px;
    width: 100%;
    opacity: 0.2;
    border: 0.5px solid #000000;
}
.content{
    width: 1440px;
    margin: auto;
}
.make-idea {
    width: 691px;
    height: 56px;
    display: flex;
    flex-direction: column;
    margin-left: 165px;
    margin-top: 68px;
}

h1 {
    width: 309px;
    height: 54px;
    font-family: 'Centra No1';
    font-style: normal;
    font-size: 40px;
    color: #000000;
    opacity: 0.8;
    margin: 0px;
}

.p1 {
    width: 777px;
    height: 56px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
    margin-top: 24px;
}

.p2 {
    width: 777px;
    height: 84px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
    margin-top: 16px;
}

.p3 {
    width: 691px;
    height: 56px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
    margin-top: 16px;
}

.team h1 {
    width: 101px;
    height: 48px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #A78730;
    margin-top: 332px;
    margin-left: 164px;
}

.oscar {
    display: flex;
    margin-left: 164px;
    margin-top: 60px;
}

.img-oscar {
    width: 248.73px;
    height: 380.71px;
    background-color: #FFFFFF;
    border-radius: 6px;
}

#img-oscar {
    margin-top: 15%;
    margin-left: 20%;
    border-radius: 7px;
}

.status {
    display: flex;
    flex-direction: column;
}

.oscar h1 {
    width: 232px;
    height: 38px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
    opacity: 0.8;

    margin-left: 227.27px;
    margin-top: 61px;
}

.in {
    width: 26px;
    height: 26px;
    margin-left: 227.27px;
}

.oscar-p {
    width: 557px;
    height: 156px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #000000;
    opacity: 0.7;

    margin-left: 227.27px;
}

.hermes {
    display: flex;
    margin-right: 165px;
    margin-top: 60px;
    flex-direction: row-reverse;
}

.img-hermes {
    position: relative;
    width: 248.73px;
    height: 380.71px;
    background-color: #FFFFFF;
    border-radius: 6px;
}

#img-hermes {
    position: absolute;
    right: 20%;
    margin-top: 15%;
    border-radius: 7px;
}

.status {
    display: flex;
    flex-direction: column;
    margin-right: 240.73px;
}

.hermes h1 {
    width: 152px;
    height: 38px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
    opacity: 0.8;

    margin-left: 227.27px;
    margin-top: 61px;
}

.hermes-p {
    width: 556px;
    height: 182px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #000000;
    opacity: 0.7;

    margin-left: 227.27px;
}

.erik {
    display: flex;
    margin-left: 164px;
    margin-top: 60px;
}

.img-erik {
    width: 248.73px;
    height: 380.71px;
    background-color: #FFFFFF;
    border-radius: 6px;
}

#img-erik {
    margin-top: 15%;
    margin-left: 20%;
    border-radius: 7px;
}

.status {
    display: flex;
    flex-direction: column;
}

.erik h1 {
    width: 109px;
    height: 38px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
    opacity: 0.8;

    margin-left: 227.27px;
    margin-top: 61px;
}

.in {
    width: 26px;
    height: 26px;
    margin-left: 227.27px;
}

.erik-p {
    width: 615px;
    height: 182px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #000000;
    opacity: 0.7;

    margin-left: 227.27px;
}

.advisors h1 {
    width: 161px;
    height: 48px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    color: #A78730;
    margin-top: 74px;
    margin-left: 164px;
}

.patricia {
    display: flex;
    margin-left: 164px;
    margin-top: 60px;
}

.img-patricia {
    width: 210px;
    height: 274px;
    background-color: #FFFFFF;
    border-radius: 6px;
}

#img-patricia {
    margin-top: 15%;
    margin-left: 20%;
    border-radius: 7px;
}

.patricia h1 {
    /* position: absolute; */
    width: 220px;
    height: 32px;
    /* left: 351px; */
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
    opacity: 0.8;
    margin-top: 61px;
    margin-left: 351px;
}

.patricia .status1 .in {
    width: 16.5px;
    height: 16.5px;
    margin-left: 351px;
}

.patricia-p {
    width: 466px;
    height: 78px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #000000;
    opacity: 0.7;

    margin-left: 351px;
}

.status1 {
    position: absolute;
}

.box-ymner {
    position: relative;
    box-sizing: content-box;
    height: 258.3636474609375px;
    width: 1440px;
    top: 0px;
    background: #292A2B;
    margin: auto;
}

.y {
    position: absolute;
    left: 269.13px;
    top: 91.47px;
}

.m {
    position: absolute;
    left: 303.61px;
    top: 91.47px;

}

.n {
    position: absolute;
    left: 339.43px;
    top: 91.47px;
}

.e {
    position: absolute;
    left: 368.23px;
    top: 91.47px;
}

.r {
    position: absolute;
    left: 392.02px;
    top: 91.47px;
}

.available-funding2 {
    position: absolute;
    left: 49.03%;

    top: 23.2%;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.7;
}
.available-funding-2 :hover{
    color: #cbcbc9;
}

.funding-insights2 {
    position: absolute;
    left: 49.03%;
    top: 38.87%;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.7;
}

.about-ymner {
    position: absolute;
    left: 69.1%;
    top: 21.94%;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;
}

#about-ymner :hover {
    color: #cbcbc9;
}

.about-cookies-GDPR {
    position: absolute;
    left: 69.1%;
    top: 37.62%;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;
}

.contact {
    position: absolute;
    left: 69.1%;
    right: 18.12%;
    top: 53.29%;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;

    opacity: 0.7;
}

.footer-2 {
    box-sizing: content-box;
    position: relative;
    height: 60.64px;
    width: 1440px;
    top: 0px;
    background: #000000;
    margin: auto;
}

.eng {
    position: absolute;
    height: 30px;
    width: 28.777774810791016px;
    left: 260px;
    top: 15px;
}

.english {
    position: absolute;
    left: 306px;
    top: 22.64px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    opacity: 0.6;
    width: 48px;
    height: 28px;
    margin: 0px;
}

.copyright {
    position: absolute;
    left: 737px;
    top: 12.64px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 13.4px;
    line-height: 15px;
    color: #FFFFFF;
    opacity: 0.5;
    height: 28px;
    width: 442px;
}

.footer {
    width: 100%;
    position: absolute;
    top: 630px;
}

.find-funding {
    display: none;
}

.a hr {
    display: block;
}
.header .material-symbols-outlined {
    display: none;
}

.funded-projects {
    display: none;
}

footer {
    width: 100%;
    margin: auto;
    background-color: #000;

}



.a {
    width: 100%;
    top: 0px;
    background: #292A2B;
    margin: auto;
}

@media screen and (max-width: 375px) {
    .container {
        width: 375px;
        height: 4079px;
    }

    .ymner {
        margin-left: 2px;
        margin-top: 7px;
        width: 98px;
        height: 44px;
    }

    hr {
        margin-left: 0px;
        width: 375px;
    }

    .header .material-symbols-outlined {
        position: absolute;
        display: block;
        left: 335px;
        top: 21px;
        width: 20px;
        height: 14px;
    }

    .insights {
        display: none;
    }

    .admin {
        display: none;
    }

    .profile {
        display: none;
    }

    .make-idea {
        width: 347px;
        height: 48px;
        margin-left: 13px;
        margin-top: 24px;
    }

    .make-idea h1 {
        width: 170px;
        height: 38px;
        font-size: 1.375rem;
    }

    .p1 {
        width: 347px;
        height: 96px;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        margin-top: 0px;
    }

    .p2 {
        width: 347px;
        height: 120px;
        font-size: 13px;
        line-height: 24px;
        margin-top: 0px;
    }

    .p3 {
        width: 347px;
        height: 48px;
        font-size: 13px;
        line-height: 24px;
        margin-top: 0px;
    }

    .team h1 {
        width: 56px;
        height: 38px;
        font-size: 1.375rem;
        line-height: 38px;
        margin-top: 300px;
        margin-left: 13px;
    }

    .img-oscar {
        width: 240.72px;
        height: 369.2px;
    }

    .oscar {
        margin-left: 13px;
        margin-top: 34px;
    }

    #img-oscar {
        width: 300px;
        height: 298.63px;
    }

    .oscar {
        display: flex;
        flex-direction: column;
    }

    .status {
        display: flex;
        flex-direction: column;
    }

    .oscar h1 {
        width: 193px;
        height: 28px;
        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin-left: 0px;
        margin-top: 40px;
    }

    .in {
        width: 13.75px;
        height: 13.75px;
        margin-left: 0px;
        margin-top: 11.13px;
    }

    .oscar-p {
        width: 347px;
        height: 192px;
        font-size: 12px;
        line-height: 24px;
        opacity: 0.8;
        margin-left: 0px;
    }

    .hermes {
        display: flex;
        margin-left: 121.47px;
        margin-top: 91px;
        flex-direction: column;
    }

    .img-hermes {
        width: 241.53px;
    }

    #img-hermes {
        width: 300px;
        right: 20%;
        margin-top: 20%;
    }

    .hermes h1 {
        width: 127px;
        height: 28px;
        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin-left: -110px;
        margin-top: 40px;
    }

    .hermes .in {
        margin-left: -110px;
    }

    .hermes-p {
        margin-left: -110px;
        height: 216px;
        width: 347px;
        font-size: 13px;
        line-height: 24px;
        margin-top: 19.12px;
    }

    .erik {
        display: flex;
        flex-direction: column;
        margin-left: 13px;
        margin-top: 67px;
    }

    .img-erik {
        width: 240.72px;
        height: 369.2px;
    }

    #img-erik {
        width: 300px;
        height: 298.63px;
    }

    .erik h1 {
        width: 91px;
        height: 28px;
        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin-left: 0px;
        margin-top: 40px;
    }

    .erik-p {
        width: 347px;
        height: 264px;
        font-size: 13px;
        line-height: 24px;
        opacity: 0.8;
        margin-left: 0px;
        margin-top: 18.93px;
    }

    .advisors {
        width: 89px;
        height: 38px;
    }

    .advisors h1 {

        font-weight: 500;
        font-size: 1.375rem;
        line-height: 38px;
        margin-top: 56px;
        margin-left: 13px;
    }

    .patricia {
        display: flex;
        flex-direction: column;
        margin-left: 13px;
    }

    .img-patricia {
        width: 187.78px;
        height: 245.56px;
    }

    #img-patricia {
        width: 186.33px;
        height: 195px;
    }

    .patricia h1 {
        width: 183px;
        height: 24px;
        margin-left: 0px;
        margin-top: 284px;
        font-size: 20px;
        line-height: 24px;
    }

    .patricia .status1 .in {
        width: 13.75px;
        height: 13.75px;
        margin-left: 0px;
    }

    .patricia-p {
        width: 347px;
        height: 66px;
        font-size: 13px;
        line-height: 22px;
        margin-left: 0px;
        margin-top: 19.09px;
    }

    .footer {
        position: absolute;
        top: auto;
    }

    .box-ymner {
        height: 588px;
        width: 375px;
        top: 0px;
    }

    footer {
        box-sizing: content-box;
        position: absolute;
        height: 133px;
        width: 375px;
        top: 3447.29px;
        background: #000000;
    }

    .y {
        height: 22.00000762939453px;
        width: 23.562585830688477px;
        left: 17.2264404296875px;
        top: 29.60546875px;
        border-radius: 0px;
    }

    .m {
        height: 21.765331268310547px;
        width: 23.64925765991211px;
        left: 42.910888671875px;
        top: 29.60546875px;
        border-radius: 0px;
    }

    .n {
        height: 21.765331268310547px;
        width: 18.417884826660156px;
        left: 69.5926513671875px;
        top: 29.60546875px;
        border-radius: 0px;
    }

    .e {
        height: 21.765331268310547px;
        width: 15.076324462890625px;
        left: 91.0462646484375px;
        top: 29.60546875px;
        border-radius: 0px;
    }

    .r {
        height: 22.00000762939453px;
        width: 18.8203125px;
        left: 108.7696533203125px;
        top: 29.60546875px;
        border-radius: 0px;
    }

    .available-funding2 {
        display: none;
    }

    .funding-insights2 {
        display: none;
    }

    .find-funding {
        display: inline;
        height: 28px;
        width: 89px;
        position: absolute;
        left: 21px;
        top: 123px;

        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;

        color: #FFFFFF;

        opacity: 0.7;
        margin: 0px;
    }

    .funded-projects {
        position: absolute;
        display: inline;
        height: 28px;
        width: 110px;
        left: 21px;
        top: 167px;


        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;

        color: #FFFFFF;

        opacity: 0.7;
    }

    hr {
        position: absolute;
        display: inline;
        height: 0px;
        width: 314px;
        left: 21px;
        top: 213px;


        opacity: 0.2;
        border: 0.5px solid #FFFFFF;
    }

    .about-ymner {
        position: absolute;
        height: 28px;
        width: 92px;
        left: 21px;
        top: 250px;
        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;

        color: #FFFFFF;

        opacity: 0.7;
    }

    .about-cookies-GDPR {
        position: absolute;
        height: 28px;
        width: 157px;
        left: 21px;
        top: 290px;
        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        color: #FFFFFF;

        opacity: 0.7;
    }

    .contact {
        position: absolute;
        height: 28px;
        width: 184px;
        left: 21px;
        top: 325px;
        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;

        color: #FFFFFF;

        opacity: 0.7;
    }

    .eng {
        position: absolute;
        width: 28.777774810791016px;
        left: 21px;
        top: 27px;
    }

    .english {
        position: absolute;
        height: 28px;
        width: 48px;
        left: 67px;
        top: 26px;
        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;

        color: #FFFFFF;

        opacity: 0.6;
    }

    .copyright {
        height: 48px;
        width: 298px;
        left: 21px;
        top: 58px;
        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;

        opacity: 0.5;
    }
}