@font-face {
    font-family: 'Centra No1';
    src: url(centrano1-and-no2-font/CentraNo1-Book.ttf);
}

body {
    height: 2966px;
    width: 100%;
    margin: auto;
}

.container {
    width: 100%;
    height: 2966px;

    background: #F2F7FF;
}

main {
    width: 100%;
    height: 2467px;
}

.header {
    width: 1440px;
    height: 80px;
    display: flex;
    margin: auto;
}

.ymner {
    margin-left: 170px;
    margin-top: 18px;
}

.menu {
    display: flex;
    margin-left: 586.83px;
}

.insights {
    margin-top: 26px;
    display: flex;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.material-icons-sharp {
    margin-top: 20px;
    color: #000;
}

.admin {
    margin-top: 26px;
    display: flex;
    margin-left: 40px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.profile {
    margin-top: 35px;
    box-sizing: border-box;
    background: #A78730;
    opacity: 0.9;
    border-radius: 28px;
    display: flex;
    width: 134px;
    height: 38px;
    margin-left: 32px;
    color: #FFFFFF;
}

.user {
    margin-top: 13px;
    margin-left: 24.73px;
    width: 12px;
    height: 12px;

}

#profile {
    width: 47px;
    height: 28px;
    margin-left: 8.73px;
    margin-top: 10px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.profile .material-icons-sharp {
    color: #FFFFFF;
    margin-top: 9px;
}

.header hr {
    margin-top: 28.89px;
    width: 100%;
    opacity: 0.2;
    border: 0.5px solid #000000;
}

.content {
    width: 1440px;
    margin: auto;
}

.header .material-symbols-outlined {
    position: absolute;
    left: 335px;
    top: 27px;
    display: none;
}

.available-funding {
    width: 242px;
    height: 39px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    color: #000000;

    opacity: 0.8;
    margin-left: 112px;
    margin-top: 56px;
}

.available-contents {
    display: flex;
}

.grants hr {
    width: 287px;
    height: 4px;

    background: #4350AF;
    border-radius: 14px;
    margin: 0px;
}

.grants {
    width: 287px;
    height: 259px;
    background: #FFFFFF;
    margin-left: 109px;
    margin-top: 56px;
}

.grant {
    display: flex;
    width: 68px;
    height: 28px;

    font-family: 'Centra No1';
    font-style: normal;

    font-size: 1.375rem;
    line-height: 28px;

    color: #000000;
    opacity: 0.8;
    margin-left: 23px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.material-symbols-outlined {
    height: 10.000000000000009px;
    width: 5.874913215637212px;
    margin-left: 167px;
}

.grant-circle {
    width: 30px;
    height: 30px;
    margin-left: 23px;
    margin-top: 8px;
}

#grants {
    display: flex;
    align-items: center;
}

.grants .number-grants-785 {
    width: 26px;
    height: 28px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #4350AF;
    margin: 0px;
    margin-left: 18px;
    margin-top: 10px;
}

.p-grants {
    width: 234px;
    height: 48px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    opacity: 0.7;
    margin-left: 23px;
    margin-top: 0.9375rem;
}

.list-grants {
    width: 191px;
    height: 72px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 24px;
    color: #000000;

    opacity: 0.7;
    margin-left: 23px;
    margin-top: 9px;
}

.list-grants ul {
    width: 200px;
    margin-left: -20px;
}

.p-grants span {
    color: #A78730;
}

.investors {
    width: 287px;
    height: 259px;
    margin-left: 44px;
    margin-top: 56px;
    background: #F2F7FF;
}

.investor {
    display: flex;
    width: 68px;
    height: 28px;

    font-family: 'Centra No1';
    font-style: normal;
    font-size: 1.375rem;
    line-height: 28px;

    color: #000000;
    opacity: 0.8;
    margin-left: 23px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.investors .material-symbols-outlined {
    height: 10.000000000000009px;
    width: 5.874913215637212px;
    margin-left: 108px
}

.grant-circle {
    width: 30px;
    height: 30px;
    margin-left: 23px;
    margin-top: 8px;
}

#grants {
    display: flex;
    align-items: center;
}

.foundations .number-grants {
    width: 26px;
    height: 28px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #619D87;
    margin: 0px;
    margin-left: 18px;
    margin-top: 10px;
}

.p-grants {
    width: 234px;
    height: 48px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    opacity: 0.7;
    margin-left: 23px;
    margin-top: 0.9375rem;
}

.list-grants {
    width: 191px;
    height: 72px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 24px;
    color: #000000;

    opacity: 0.7;
    margin-left: 23px;
    margin-top: 9px;
}

.p-grants span {
    color: #A78730;
}

.foundations {
    width: 287px;
    height: 259px;
    background: #F2F7FF;
    ;
    margin-left: 44px;
    margin-top: 56px;
}

.foundation {
    display: flex;
    width: 68px;
    height: 28px;

    font-family: 'Centra No1';
    font-style: normal;
    font-size: 1.375rem;
    line-height: 28px;

    color: #000000;
    opacity: 0.8;
    margin-left: 23px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.foundations .material-symbols-outlined {
    height: 10.000000000000009px;
    width: 5.874913215637212px;
    margin-left: 108px
}

.grant-circle {
    width: 30px;
    height: 30px;
    margin-left: 23px;
    margin-top: 8px;
}

#grants {
    display: flex;
    align-items: center;
}

.investors .number-grants {
    width: 26px;
    height: 28px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #EB5181;
    ;
    margin: 0px;
    margin-left: 18px;
    margin-top: 10px;
}

.p-grants {
    width: 234px;
    height: 48px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    opacity: 0.7;
    margin-left: 23px;
    margin-top: 0.9375rem;
}

.list-grants {
    width: 191px;
    height: 72px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 24px;
    color: #000000;

    opacity: 0.7;
    margin-left: 23px;
    margin-top: 9px;
}

.p-grants span {
    color: #A78730;
}

.others {
    width: 287px;
    height: 259px;
    margin-left: 44px;
    margin-top: 56px;
    background: #F2F7FF;
}

.other {
    display: flex;
    width: 68px;
    height: 28px;

    font-family: 'Centra No1';
    font-style: normal;
    font-size: 1.375rem;
    line-height: 28px;

    color: #000000;
    opacity: 0.8;
    margin-left: 23px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.others .material-symbols-outlined {
    height: 10.000000000000009px;
    width: 5.874913215637212px;
    margin-left: 108px
}

.grant-circle {
    width: 30px;
    height: 30px;
    margin-left: 23px;
    margin-top: 8px;
}

#grants {
    display: flex;
}

.others .number-grants {
    width: 26px;
    height: 28px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #EF8A40;
    margin: 0px;
    margin-left: 18px;
    margin-top: 10px;
}

.p-grants {
    width: 234px;
    height: 48px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    opacity: 0.7;
    margin-left: 23px;
    margin-top: 0.9375rem;
}

.list-grants {
    width: 191px;
    height: 72px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 24px;
    color: #000000;

    opacity: 0.7;
    margin-left: 23px;
    margin-top: 9px;
}

.p-grants span {
    color: #A78730;
}

.search {
    position: relative;
}

.search-fill {
    position: relative;
    box-sizing: border-box;

    width: 540px;
    height: 44px;
    left: 109px;
    top: 70px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 22px;
}

.search-fill .material-symbols-outlined {
    position: relative;
    height: 19.999982833862305px;
    width: 19.99959373474121px;
    left: 24px;
    top: 11px;
    color: #A78730;
    margin: 0px;
}

.search-fill .type {
    position: relative;
    width: 300px;
    height: 24px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.4;
    left: 64px;
    top: 3px;

    border: 0px;
    outline: none;
}

.btn-filter .filter {
    position: absolute;
    width: 106px;
    height: 44px;
    background: #A78730;
    border-radius: 22px;
    left: 1224px;
    top: 70px;
    color: white;
    border: 1px solid #A78730;
}

.filter .material-symbols-outlined {
    position: absolute;
    margin: 0px;
    left: 16px;
    top: 8px;
    color: white;
}

.filter {
    width: 37px;
    height: 21px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;

}

.filter p {
    position: relative;
    left: 10px;
    bottom: 6.7px;
}

.btn-filter {
    position: absolute;
    width: 37px;
    height: 21px;
    left: 45px;
    top: 12px;
    margin: 0px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.results .result p {
    position: relative;
    width: 45px;
    height: 21px;
    left: 109px;
    top: 104px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #000000;
}

.result #number {
    position: relative;
    width: 27px;
    height: 21px;
    left: 170px;
    top: 68px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.sort-by p {
    position: relative;
    width: 53px;
    height: 21px;
    left: 894px;
    top: 30px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #000000;
}

.sort-by span {
    position: relative;
    width: 10.9375rem;
    height: 21px;
    left: 955px;
    top: -7px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #A78730;
}

.show p {
    position: relative;
    width: 41px;
    height: 21px;
    left: 1132px;
    top: -44px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.show span {
    position: relative;
    width: 150px;
    height: 21px;
    left: 1181px;
    top: -81px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #A78730;
}

.grid-container {
    width: 1221px;
    margin-left: 110px;
    margin-right: 110px;
    display: grid;
    gap: 28px 32px;
    grid-template-columns: auto auto auto;
    background-color: #F2F7FF;
}

.grid-item {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 30px;
    height: 191px;
    width: 388px;
    left: 0px;
    top: 0px;
    border-radius: 3px;
}

.grid-container .grid-item #cassini {
    position: absolute;
    left: 22px;
    top: 20px;
    width: 336px;
    height: 52px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    color: #000000;
    margin: 0px;
}

.grid-container .grid-item #specific {
    position: absolute;
    left: 20px;
    top: 88px;
    height: 48px;
    width: 336px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 24px;

    color: #000000;
    opacity: 0.7;
    margin: 0px;
}

.formas {
    position: absolute;
    top: 158px;
    left: 20px;
}

.grid-item .point {
    height: 12px;
    width: 12px;
    border-radius: 50%;

    background: #6868ED;
}

#formas {
    position: absolute;
    height: 24px;
    width: 47px;
    left: 18px;
    top: -20px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #000000;

    opacity: 0.8;
}

.formas .point2 {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 6px;
    left: 325.45px;
    top: -5px;

    background: #619D87;
}

.formas .point2 .point3 {
    position: absolute;
    height: 9.090909957885742px;
    width: 9.090909957885742px;
    border-radius: 50%;
    left: 5.45px;
    top: 5.45px;

    background: #FFFFFF;
}

.btn-ladda .ladda-mer {
    box-sizing: border-box;
    width: 160px;
    height: 44px;
    border: 1px solid #A78730;
    border-radius: 22px;
    margin-left: 640px;
    margin-top: 48px;
}

.btn-ladda button:hover {
    background: #A78730;
    color: white;
}

.btn-filter button:hover {
    opacity: 0.8;
}

.ladda-mer {
    height: 21px;
    width: 77px;


    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #A78730;
}

#btn-ladda {
    width: 77px;
    height: 21px;
    margin-left: 42px;
    margin-top: 11px;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #A78730;
}


.box-ymner {
    position: relative;
    box-sizing: content-box;
    height: 258.3636474609375px;
    width: 1440px;
    top: 0px;
    background: #292A2B;
    margin: auto;
}

.y {
    position: absolute;
    left: 269.13px;
    top: 91.47px;
}

.m {
    position: absolute;
    left: 303.61px;
    top: 91.47px;

}

.n {
    position: absolute;
    left: 339.43px;
    top: 91.47px;
}

.e {
    position: absolute;
    left: 368.23px;
    top: 91.47px;
}

.r {
    position: absolute;
    left: 392.02px;
    top: 91.47px;
}

.available-funding2 {
    position: absolute;
    left: 49.03%;

    top: 23.2%;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.7;
}

.available-funding-2 :hover {
    color: #cbcbc9;
}

.funding-insights2 {
    position: absolute;
    left: 49.03%;
    top: 38.87%;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.7;
}

.about-ymner {
    position: absolute;
    left: 69.1%;
    top: 21.94%;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;
}

#about-ymner :hover {
    color: #cbcbc9;
}

.about-cookies-GDPR {
    position: absolute;
    left: 69.1%;
    top: 37.62%;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;
}

.contact {
    position: absolute;
    left: 69.1%;
    right: 18.12%;
    top: 53.29%;

    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 28px;
    color: #FFFFFF;

    opacity: 0.7;
}

.footer-2 {
    box-sizing: content-box;
    position: relative;
    height: 60.64px;
    width: 1440px;
    top: 0px;
    background: #000000;
    margin: auto;
}

.eng {
    position: absolute;
    height: 30px;
    width: 28.777774810791016px;
    left: 260px;
    top: 0.9375rem;
}

.english {
    position: absolute;
    left: 306px;
    top: 22.64px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    color: #FFFFFF;
    opacity: 0.6;
    width: 48px;
    height: 28px;
    margin: 0px;
}

.copyright {
    position: absolute;
    left: 737px;
    top: 12.64px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 13.4px;
    line-height: 0.9375rem;
    color: #FFFFFF;
    opacity: 0.5;
    height: 28px;
    width: 442px;
}

.footer {
    width: 100%;
    position: absolute;
    top: 630px;
}

.find-funding {
    display: none;
}

.a hr {
    display: block;
}


.funded-projects {
    display: none;
}

footer {
    width: 100%;
    margin-top: 110px;
    background-color: #000;

}



.a {
    width: 100%;
    top: 0px;
    background: #292A2B;
    margin: auto;
}

.a hr {
    display: none;
}

.foundations .number-grants-rep {
    display: none;
}

.investors .number-grants-rep {
    display: none;
}

.others .number-grants-rep {
    display: none;
}

.content hr {
    display: none;
}

@media screen and (max-width: 375px) {
    .ymner {
        width: 99px;
        height: 44px;
        margin-left: 8px;
        margin-top: 2px;
    }

    .header {
        width: 375px;
        height: 69px;
        display: flex;
        margin: auto;
        background-color: white;
    }

    .zoom hr {
        margin: 0px;
    }

    .header .menu {
        display: none;
    }

    .header .material-symbols-outlined {
        display: inline;
        width: 20px;
        height: 14px;
        left: 170px;
        top: 22px;
    }

    .available-funding {
        height: 28px;
        width: 177px;
        left: 13px;
        top: 134px;
        font-weight: 500;
        font-size: 22px;

        opacity: 0.8;
        margin: 0px;
        margin-left: 26px;
    }

    .available-contents {
        display: block;
    }

    .available-contents .grants {
        width: 350px;
        height: 269px;
        margin-left: 12px;
        margin-top: 32px;
    }

    .grants hr {
        display: block;
        width: 100%;
    }

    .list-grants {
        margin-left: 0px;
    }

    .list-grants ul {
        margin: 0px;
    }

    .grant-circle {
        width: 26px;
        height: 26px;
    }

    .grant .material-symbols-outlined {
        margin-left: 233px;
    }

    .foundations {
        margin-left: 0px;
        margin-top: 0px;
        height: auto;
    }

    .foundations .p-grants {
        display: none;
    }

    .foundations .material-symbols-outlined {
        height: 10.000000000000009px;
        width: 5.874913215637212px;
        margin-left: 200px;
        margin-top: 0.9375rem;
    }

    .investors .p-grants {
        display: none;
    }

    .investors .material-symbols-outlined {
        height: 10.000000000000009px;
        width: 5.874913215637212px;
        margin-left: 231px;
        margin-top: 10px;
    }

    .others .p-grants {
        display: none;
    }

    .others .material-symbols-outlined {
        height: 10.000000000000009px;
        width: 5.874913215637212px;
        margin-left: 251px;
        margin-top: 0.9375rem;
    }

    .foundations .list-grants {
        display: none;
    }

    .investors .list-grants {
        display: none;
    }

    .others .list-grants {
        display: none;
    }

    .expand-less .material-symbols-outlined {
        transform: rotate(180deg);
    }

    .number-grants {
        display: none;
    }

    .foundations .number-grants-rep {
        width: 26px;
        height: 28px;
        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #619D87;
        margin: 0px;
        margin-left: 18px;
        margin-top: 10px;
        display: inline;
    }

    .foundations hr {
        display: inline-block;
        position: relative;
        left: 25px;
        top: 32px;
        width: 324px;

        opacity: 0.3;
        border: 0.5px solid #000000;
    }

    .investors {
        margin-left: 0px;
        height: auto;
    }

    .investors .number-grants-rep {
        width: 26px;
        height: 28px;
        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #EB5181;
        margin: 0px;
        margin-left: 18px;
        margin-top: 10px;
        display: inline;
    }

    .investors hr {
        display: inline-block;
        position: relative;
        left: 25px;
        top: 32px;
        width: 324px;

        opacity: 0.3;
        border: 0.5px solid #000000;
    }

    .others {
        width: 287px;
        height: auto;
        margin-left: 0px;
    }

    .others .number-grants-rep {
        width: 26px;
        height: 28px;
        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #EF8A40;
        margin: 0px;
        margin-left: 18px;
        margin-top: 10px;
        display: inline;
    }

    .search-fill {
        position: relative;
        box-sizing: border-box;
        width: 255px;
        height: 44px;
        left: 109px;
        top: 70px;
    }

    .search-fill .type {
        width: 160px;
        left: 34px;
    }

    .search-fill {
        left: 13px;
        top: 48px;
    }

    .btn-filter p {
        display: none;
    }

    .results .result p {
        left: 13px;
        top: 100px;
    }

    .result #number {
        left: 74px;
        top: 64px;
        margin: 0px;
    }

    .sort-by p {
        display: none;
    }

    .show p {
        display: none;
    }

    .sort-by span {
        left: 13px;
        top: -0.9375rem;
    }

    .show span {
        left: 203px;
        top: -35px;
        font-weight: 550;
    }

    .grid-container {
        width: 375px;
        display: grid;
        margin-left: 0px;
        margin-top: 24px;
        gap: 24px;
        grid-template-columns: auto;
        background-color: #F2F7FF;
    }

    .grid-item {
        margin-left: 13px;
        height: 191px;
        width: 350px;
    }

    .point2 {
        display: none;
    }

    .content {
        width: 375px;
        background-color: #F2F7FF;
    }

    .btn-ladda {
        box-sizing: border-box;
        position: absolute;
        width: 160px;
        height: 44px;
        border-radius: 22px;
        /* margin-left: 95px; */
        /* margin-top: 5200px; */
    }

    .btn-ladda .ladda-mer {
        box-sizing: border-box;
        width: 160px;
        height: 44px;
        border: 1px solid #A78730;
        border-radius: 22px;
        margin-left: 108px;
        margin-top: 25px;
    }

    .zoom {
        background-color: #F2F7FF;
    }

    .a {
        width: 375px;
        height: 588px;
    }

    .box-ymner {
        width: 375px;
        height: 455px;
    }

    .y {
        height: 22.00000762939453px;
        width: 23.562585830688477px;
        left: 21.23px;
        top: 54.61px;
    }

    .m {
        height: 21.765331268310547px;
        width: 23.64925765991211px;
        left: 48px;
        top: 54.61px;
    }

    .n {
        height: 21.765331268310547px;
        width: 18.417884826660156px;
        left: 75px;
        top: 54.61px;
    }

    .e {
        height: 21.765331268310547px;
        width: 15.076324462890625px;
        left: 97px;
        top: 54.61px;
    }

    .r {
        height: 22.00000762939453px;
        width: 18.8203125px;
        left: 114px;
        top: 54.61px;
    }

    .available-funding2 {
        display: none;
    }

    .funding-insights2 {
        display: none;
    }

    .find-funding {
        display: inline;
        position: relative;
        left: 21px;
        top: 123px;
        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 400;
        font-size: 0.9375rem;
        line-height: 28px;

        color: #FFFFFF;

        opacity: 0.7;
    }

    .funded-projects {
        display: inline;
        position: relative;
        left: -72px;
        top: 167px;

        font-family: 'Centra No1';
        font-style: normal;
        font-weight: 400;
        font-size: 0.9375rem;
        line-height: 28px;

        color: #FFFFFF;

        opacity: 0.7;
    }

    .box-ymner hr {
        display: block;
        position: absolute;
        left: 21px;
        top: 213px;
        bottom: 100%;
        opacity: 0.2;
        width: 314px;
        border: 0.5px solid #FFFFFF;
    }

    .about-ymner {
        left: 21px;
        top: 237px;
    }

    .about-cookies-GDPR {
        left: 21px;
        top: 281px;
    }

    .contact {
        position: absolute;
        left: 21px;
        top: 325px;
    }

    .footer-2 {
        top: -100px;
        height: 133px;
        width: 375px;
    }

    .eng {
        left: 21px;
        top: 27px;
    }

    .english {
        left: 67px;
        top: 31px;
    }

    .copyright {
        height: 48px;
        width: 298px;
        font-size: 0.9375rem;
        left: 21px;
        top: 63px;
    }

    footer {
        height: 630px;
    }

    .filter .material-symbols-outlined {
        position: absolute;
        margin: 0px;
        left: 9px;
        top: 8px;
        color: white;
    }

    .btn-filter .filter {
        height: 44px;
        width: 44px;
        left: 280px;
        top: 35px;
        border-radius: 22px;
    }
    .results{
        margin-bottom: 50px;
    }
    .number-grants-785{
        display: block;
    }
}